# DockerHub image namespace
DOCKERHUB_USER=ximailsemaro

# DB
POSTGRES_DB=mandm
POSTGRES_USER=mandmuser
POSTGRES_PASSWORD=mandmpass

# Backend
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/mandm
SPRING_DATASOURCE_USERNAME=mandmuser
SPRING_DATASOURCE_PASSWORD=mandmpass

# Frontend (browser calls backend through host port)
VITE_API_BASE=http://localhost:8080

# specific SHA tags from docker repo 
SHA_FRONTEND=sha-fbe0fc9
SHA_BACKEND=sha-fbe0fc9

FRONTEND_IMAGE=${DOCKERHUB_USER}/mandm-frontend:${SHA_FRONTEND}
BACKEND_IMAGE=${DOCKERHUB_USER}/mandm-backend:${SHA_BACKEND}
